*{
    box-sizing: border-box;
}

body{
    background-color: #F4EEE5 !important;
}
.containergrid{
    display: grid;
    grid-template-areas: 
    'head head'
    'sidebar content1';
}

a{
    text-decoration: none;
    color: black;
}

aside{
    padding-top: 20px;
    border-right: 1px solid black;
}
.sidebar h5{
    font-weight: normal;
    margin-left: 5%;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}
/*
.stickybar{
    grid-area: sidebar;
    grid-template-columns: 1fr;
}
nav.head{
    grid-area: head;
    grid-template-columns: 3fr;
} */

.head{
    grid-area: head;
}
.containergrid .content{
    grid-area: content1;
    display: grid;
    grid-template-columns: 1fr;
}

.content img{
    width: auto; 
    height: 215.833px;
}

.content .row{
    margin-bottom: 40px;
}

.content a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
}

.rectangle{
    background-color: #F4EEE5 !important;
    border: 2px solid black;
    width: 90%;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.rectangle:hover{
    background-color: black !important;
    color: #F4EEE5;
}

